
body
{
	background-color: #f6f6f6;
}

hr
{
	border-bottom: 1px solid #e3e3e3;
}

.btn-default
{
	border-radius: 0px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	color: #0ea6f2;
	font-weight: 700;
 
}

.searchForm
{
	font-size: 15px;
	font-weight: 500;
	border-radius: 0px;
}

.btn-h1-spacing 
{
	margin-top: 18px;
}

.page-header
{
	border-bottom: 1px solid #e3e3e3;
}

.form-spacing-top 
{
	margin-top: 30px;
}

.comment 
{
	margin-bottom: 45px;
}

.commentSpan
{
	margin-left: 5px; 
	margin-right: 5px;"
}

.author-image 
{
	width: 50px;
	height: 50px;
	border-radius: 10%;
	float: left;
}

.author-name 
{
	float: left;
	margin-left: 15px;

}

.author-name>h4 
{
	margin: 5px 0px;
}

.author-time 
{
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}

.comment-content 
{
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}

.comments-title 
{
	margin-bottom:45px;
}

.comments-title>span 
{
	margin-right: 15px;
}


.post-comments-title 
{
	margin-top: 0px;
	float: right;
}

.post-comments-title>span 
{
	margin-left: 10px;
}

.btnMorePosts
{
	padding: 15px 0px 15px 0px;
}

.navbar
{ 
	font-family: "Raleway", Sans-serif;
    -webkit-font-smoothing: antialiased;  
    border-radius: 0px;  
    margin-bottom: 0px;
    background-color: #171a1e;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #2f3947;
}

.nav
{
	margin-right: 40px;
}

.nav li
{
	font-size: 15px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 700;
}

.nav, .active li
{
	color: #0ea6f2;
}

.navbar-inverse .navbar-brand
{
	padding-left: 140px;
	font-size: 25px;
	color: 	#fff;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover 
{
	color: #0ea6f2; background-color: #171a1e; 
}

.navbar-form .form-control
{
	width: 80%;
	padding: 24px 10px 24px 10px;
	
}
.navbar-form .btn
{
	width: 19%;
	padding: 15px 10px 15px 10px
	
}

.btn-primary
{
	border-radius: 0px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	background-color: #0ea6f2;
	color: #fff;
	border: none;
	font-weight: 600;
}

.post
{
	border: 1px solid #dadada;
}

.postImage
{
	width: 100%;
}

.postContainer
{
	border: 1px solid #e3e3e3;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	background-color: #fff;
}

.postContainer, h2
{
	margin-top: 0px;
}

.postContainer, p
{
	color: #777;
	margin-top: 10px;
	font-size: 16px;
}

.postContainer, a
{
	color: #000;
}

.post-header 
{
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #eee;
    padding: 5px 10px;
}

.blogimage
{
	max-width: 30%;	
}

.blogImageSingle{ width: 100%; }

.margin10{ margin-right: 15px; }

.well
{
 	background-color: #fff;
 	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


.blogbtn { float:right; }	

.clear { clear:both; }


 .jumbotron
 {
 	/*background-image: url("/images/header.jpg");*/
 	background-color: #2A2D36;
 	background-size: 100% 100%;
 	height: 100%;
 	
 	color: #fff;
	font-style: italic;
 }

 .jumbotron h2
 {
 	margin-top: -25px;
 	font-size: 40px;
 }

.jumbotron p
{
	margin-bottom: -25px;
}

 .footer-bs {
    background-color: #171a1e;
	padding: 30px 40px;
	color: rgba(255,255,255,1.00);
	margin-top: 30px;
}

iframe
{
	margin-bottom: 20px;
}

.login
{
	margin: 26% 0 26% 0;
}